# 读取TNCH_dataset_0530.xlsx数据

In [1]:
# 读取Excel文件
import pandas as pd

# Read the Excel file
df = pd.read_excel('TNCH_dataset_0530.xlsx')

# Print the first two columns
print("First two columns of the dataset:")
display(df.head())
display(df.info())

First two columns of the dataset:

,Unnamed: 0,composition,Unnamed: 2,Unnamed: 3,Unnamed: 4,process,Unnamed: 6,Unnamed: 7,properties,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,No.,Ti,Ni,Cu,Hf,cold-roling-amount,annealing.temp,annealing.time,enthalpy,hystersis,Af,Hardness,Type
1,unit,%,%,%,%,%,K,hour,J/g,℃,℃,Gpa,NaN
2,sma-tnc5h2-cr40-ht400-0.5h-000001,48,45,5,2,40,673,0.5,15.58,25.5,44.5,3.318307,0
3,sma-tnc5h2-cr40-ht400-2h-000001,48,45,5,2,40,673,2,18.5,27.5,45.5,3.310793,0
4,sma-tnc5h2-cr40-ht500-0.5h-000001,48,45,5,2,40,773,0.5,22.99,31.5,48.1,2.93153,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   59 non-null     object
 1   composition  59 non-null     object
 2   Unnamed: 2   59 non-null     object
 3   Unnamed: 3   59 non-null     object
 4   Unnamed: 4   59 non-null     object
 5   process      59 non-null     object
 6   Unnamed: 6   59 non-null     object
 7   Unnamed: 7   59 non-null     object
 8   properties   59 non-null     object
 9   Unnamed: 9   59 non-null     object
 10  Unnamed: 10  59 non-null     object
 11  Unnamed: 11  59 non-null     object
 12  Unnamed: 12  58 non-null     object
dtypes: object(13)
memory usage: 6.1+ KB

None

# 数据清洗

In [2]:
# 将第二行的单位信息合并到第一行的列名中
# Merge units from second row into first row column names
new_columns = []
for col1, col2 in zip(df.iloc[0], df.iloc[1]):
    if pd.isna(col2):
        new_columns.append(str(col1))
    
    elif col2 == '%' and col1!="cold-roling-amount":
        new_columns.append(f"{col1}(wt%)")
    else:
        new_columns.append(f"{col1}({col2})")

# 设置新的列名并删除第二行
# Set new column names and remove the second row
df.columns = new_columns
display(df.head(2))
df = df.drop(index=[0, 1]).reset_index(drop=True)

# 打印处理后的前两行数据
# Print first two rows after processing
print("\nProcessed data first two rows:")
display(df.head())
display(df.info())

,No.(unit),Ti(wt%),Ni(wt%),Cu(wt%),Hf(wt%),cold-roling-amount(%),annealing.temp(K),annealing.time(hour),enthalpy(J/g),hystersis(℃),Af(℃),Hardness(Gpa),Type
0,No.,Ti,Ni,Cu,Hf,cold-roling-amount,annealing.temp,annealing.time,enthalpy,hystersis,Af,Hardness,Type
1,unit,%,%,%,%,%,K,hour,J/g,℃,℃,Gpa,NaN

Processed data first two rows:

,No.(unit),Ti(wt%),Ni(wt%),Cu(wt%),Hf(wt%),cold-roling-amount(%),annealing.temp(K),annealing.time(hour),enthalpy(J/g),hystersis(℃),Af(℃),Hardness(Gpa),Type
0,sma-tnc5h2-cr40-ht400-0.5h-000001,48,45,5,2,40,673,0.5,15.58,25.5,44.5,3.318307,0
1,sma-tnc5h2-cr40-ht400-2h-000001,48,45,5,2,40,673,2,18.5,27.5,45.5,3.310793,0
2,sma-tnc5h2-cr40-ht500-0.5h-000001,48,45,5,2,40,773,0.5,22.99,31.5,48.1,2.93153,0
3,sma-tnc5h4-cr40-ht400-0.5h-000001,45,45,5,4,40,673,0.5,11.64,27.2,28.3,3.76421,0
4,sma-tnc5h4-cr40-ht400-2h-000001,45,45,5,4,40,673,2,11.17,29.9,27.7,3.676336,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   No.(unit)              57 non-null     object
 1   Ti(wt%)                57 non-null     object
 2   Ni(wt%)                57 non-null     object
 3   Cu(wt%)                57 non-null     object
 4   Hf(wt%)                57 non-null     object
 5   cold-roling-amount(%)  57 non-null     object
 6   annealing.temp(K)      57 non-null     object
 7   annealing.time(hour)   57 non-null     object
 8   enthalpy(J/g)          57 non-null     object
 9   hystersis(℃)           57 non-null     object
 10  Af(℃)                  57 non-null     object
 11  Hardness(Gpa)          57 non-null     object
 12  Type                   57 non-null     object
dtypes: object(13)
memory usage: 5.9+ KB

None

# 保存数据

In [3]:
df.to_csv("TNCH_dataset_0530_cleaned.csv",index=False)