In [8]:
# 读取数据
import pandas as pd
import numpy as np
import os
csv_path="data.csv"
data=pd.read_csv(csv_path)
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677 entries, 0 to 676
Data columns (total 49 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DOIs              677 non-null    object
 1   Table_topic       677 non-null    object
 2   Material          677 non-null    object
 3   Tensile_name      677 non-null    object
 4   Tensile_value     677 non-null    float64
 5   Tensile_unit      677 non-null    object
 6   Yield_name        677 non-null    object
 7   Yield_value       677 non-null    float64
 8   Yield_unit        677 non-null    object
 9   Elongation_name   677 non-null    object
 10  Elongation_value  677 non-null    float64
 11  Elongation_unit   677 non-null    object
 12  H                 677 non-null    int64
 13  B                 677 non-null    float64
 14  C                 677 non-null    float64
 15  N                 677 non-null    float64
 16  O                 677 non-null    float64
 17  F                 677 non-null    int64
 18  Na                677 non-null    int64
 19  Mg                677 non-null    int64
 20  Al                677 non-null    float64
 21  Si                677 non-null    float64
 22  P                 677 non-null    float64
 23  S                 677 non-null    float64
 24  Cl                677 non-null    int64
 25  Ca                677 non-null    int64
 26  Ti                677 non-null    float64
 27  V                 677 non-null    float64
 28  Cr                677 non-null    float64
 29  Mn                677 non-null    float64
 30  Fe                677 non-null    float64
 31  Co                677 non-null    float64
 32  Ni                677 non-null    float64
 33  Cu                677 non-null    float64
 34  Zn                677 non-null    int64
 35  As                677 non-null    int64
 36  Y                 677 non-null    int64
 37  Zr                677 non-null    int64
 38  Nb                677 non-null    float64
 39  Mo                677 non-null    float64
 40  Sn                677 non-null    int64
 41  Sb                677 non-null    int64
 42  La                677 non-null    int64
 43  Ce                677 non-null    int64
 44  Ta                677 non-null    int64
 45  W                 677 non-null    float64
 46  Pb                677 non-null    int64
 47  Bi                677 non-null    int64
 48  Text              677 non-null    object
dtypes: float64(22), int64(17), object(10)
memory usage: 259.3+ KB

None

# 列名重命名

In [9]:
col_dict={}
for ele in data.columns[12:48]:
    col_dict[ele]=ele+"(wt%)"

col_dict.update({
    "Tensile_value":"UTS(MPa)",
    "Yield_value":"YS(MPa)",
    "Elongation_value":"El(%)",
    "Text":"Processing_Description"
})

data.rename(columns=col_dict,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677 entries, 0 to 676
Data columns (total 49 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DOIs                    677 non-null    object
 1   Table_topic             677 non-null    object
 2   Material                677 non-null    object
 3   Tensile_name            677 non-null    object
 4   UTS(MPa)                677 non-null    float64
 5   Tensile_unit            677 non-null    object
 6   Yield_name              677 non-null    object
 7   YS(MPa)                 677 non-null    float64
 8   Yield_unit              677 non-null    object
 9   Elongation_name         677 non-null    object
 10  El(%)                   677 non-null    float64
 11  Elongation_unit         677 non-null    object
 12  H(wt%)                  677 non-null    int64
 13  B(wt%)                  677 non-null    float64
 14  C(wt%)                  677 non-null    float64
 15  N(wt%)                  677 non-null    float64
 16  O(wt%)                  677 non-null    float64
 17  F(wt%)                  677 non-null    int64
 18  Na(wt%)                 677 non-null    int64
 19  Mg(wt%)                 677 non-null    int64
 20  Al(wt%)                 677 non-null    float64
 21  Si(wt%)                 677 non-null    float64
 22  P(wt%)                  677 non-null    float64
 23  S(wt%)                  677 non-null    float64
 24  Cl(wt%)                 677 non-null    int64
 25  Ca(wt%)                 677 non-null    int64
 26  Ti(wt%)                 677 non-null    float64
 27  V(wt%)                  677 non-null    float64
 28  Cr(wt%)                 677 non-null    float64
 29  Mn(wt%)                 677 non-null    float64
 30  Fe(wt%)                 677 non-null    float64
 31  Co(wt%)                 677 non-null    float64
 32  Ni(wt%)                 677 non-null    float64
 33  Cu(wt%)                 677 non-null    float64
 34  Zn(wt%)                 677 non-null    int64
 35  As(wt%)                 677 non-null    int64
 36  Y(wt%)                  677 non-null    int64
 37  Zr(wt%)                 677 non-null    int64
 38  Nb(wt%)                 677 non-null    float64
 39  Mo(wt%)                 677 non-null    float64
 40  Sn(wt%)                 677 non-null    int64
 41  Sb(wt%)                 677 non-null    int64
 42  La(wt%)                 677 non-null    int64
 43  Ce(wt%)                 677 non-null    int64
 44  Ta(wt%)                 677 non-null    int64
 45  W(wt%)                  677 non-null    float64
 46  Pb(wt%)                 677 non-null    int64
 47  Bi(wt%)                 677 non-null    int64
 48  Processing_Description  677 non-null    object
dtypes: float64(22), int64(17), object(10)
memory usage: 259.3+ KB

In [10]:
data.to_csv("USTB_steel_processed.csv",index=False)